{%  extends 'store/main.html' %}

{% block content %}




    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <span data-feather="home"></span>
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'orders' %}">
                  <span data-feather="file"></span>
                  Orders
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'addproduct' %}">
                  <span data-feather="shopping-cart"></span>
                  Add Product
                </a>
              </li>
   
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard</h1>
          </div>
		  <br>

			<div class="row">
				<div class="col">
					<div class="col-md">
						<div class="card text-center text-white  mb-3" id="total-orders">
							<div class="card-header">
								<h5 class="card-title">Total Orders</h5>
							</div>
							<div class="card-body">
								<h3 class="card-title">{{totalOrders}}</h3>
							</div>
						</div>
					</div>
				</div>

				<div class="col">
					<div class="col-md">
						<div class="card text-center text-white  mb-3" id="orders-delivered">
							<div class="card-header">
								<h5 class="card-title">Orders Delivered</h5>
							</div>
							<div class="card-body">
								<h3 class="card-title">{{delevered}}</h3>
							</div>
						</div>
					</div>
				</div>

				<div class="col">
					<div class="col-md">
						<div class="card text-center text-white  mb-3" id="orders-pending">
							<div class="card-header">
								<h5 class="card-title">Orders Pending</h5>
							</div>
							<div class="card-body">
								<h3 class="card-title">{{pending}}</h3>
							</div>
						</div>
					</div>
				</div>
			</div>


{% endblock %}